.env


.env.local


.env.development


.env.production


.env.test


.env*.local


node_modules
node_modules/

dist
dist/

.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

.DS_Store
Thumbs.db
Desktop.ini

.vscode/settings.json
.idea

.vercel